.aboutme{
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    padding: 20px;
    height: 100vh;
}

.aboutme__info{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.aboutme__info>p{
    font-size: x-small;
    font-weight: 400;
    margin-top: 20px;
}

.aboutme__left{
    background-color: white;
    display: flex;
    max-height: 41.3vh;
}
.aboutme__left>img{
    background-color: #BBB9B3;
    height: 300px;
}