
.aboutme{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.aboutme__wrapper{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.aboutme__name{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme__left{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutme__info{
    /* background-color: aqua; */
}

.aboutme__info__icons{
    /* background-color: purple; */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.image{
    background-color: #CCCCCC;
    height: 225px;
    width: 300px;
    object-fit: contain;
}



/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {
    .aboutme {
      /* Adjust styles for smaller screens */
      padding: 10px;
      flex-direction: column; /* Stack items vertically */
      text-align: center; /* Center text */
    }
  
    .aboutme__left > img {
      height: auto; /* Make the image responsive */
      width: 100%; /* Width to 100% for responsiveness */
    }
  
    .aboutme__info__icons {
      justify-content: center; /* Center icons horizontally */
      margin-top: 20px;
    }
  }