
.aboutme{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 5px;
}

.aboutme__wrapper{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.aboutme__name{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme__left{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutme__info{
    /* background-color: aqua; */
}

.aboutme__info__icons{
    /* background-color: purple; */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.image{
    background-color: #CCCCCC;
    height: 225px;
    width: 300px;
    object-fit: contain;
}



/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 896px) {
    .aboutme__info p{
        font-size: xx-small;
    }
  
    .image{
        height: 120px;
        width: 120px;
        object-fit: contain;
    }

    .aboutme__info__icons{
        display: flex;
        justify-content: center;
    }

    .icon{
        font-size: 20px !important;
    }
  }