.contactMe__wrapper{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.contact__me__parent{
    /* background-color: green; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width:40%;
    gap: 30px;
}

.contact__me__top>h3{
    font-size: small;
    color: #3691FF;
}

.contact__me__icon{
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact__me__icon>h2{
    font-size: medium;
}

.contact__me__bottom{
    display: flex;
    gap: 10px;
}

.contact__location{
    /* background-color: purple; */
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact__location__city>h3{
    font-size: small;
}

.contact__location__city>p{
    font-size: small;
}

.contact__email{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact__email__info>h3{
    font-size: small;
}

.contact__email__info>p{
    font-size: small;
}

/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {
    .contact__me__parent {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
    }
  
    .contact__me__parent > .contact__me__top > h3 {
      font-size: medium; /* Increase font size for better visibility */
    }
  
    .contact__me__icon > h2 {
      font-size: small; /* Reduce font size for better fit */
    }
  }