.header{
    height: 100px;
    color: black;
    position: sticky;
    top:0;
    width:100%;
    transition: all 0.5s;
    /* background-color: #121212; */
    z-index: 1;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.header__wrapper{
    border-bottom: 1px solid lightgray !important;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.header__black{
    background-color: #121212;
    margin: 20px;
    border-bottom: 1px solid lightgray;
}

a{
    text-decoration: none;
    /* color: white; */
    color: black;
}

a:hover{
    color: black;
}

.header__logo{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.header__info{
    display: flex;
    align-items: center;
    font-size: 10px;
    justify-content: space-between;
    list-style-type: none;
}

.header__info > h6{
    margin-right: 30px;
    padding: 10px;
}

.header__info > h6:hover{
    background-color: white;
    border-radius: 10px;
    color: #121212;
}

.header__logo svg{
    fill: rgb(102, 210, 49);
} 
.header__info > svg:hover{
    fill:rgb(240, 22, 22);
}
.header__info > svg{
    margin-right: 0;
}


/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {
    .header {
      height: 70px; /* Reduce header height for smaller screens */
      padding-bottom: 10px; /* Reduce padding for smaller screens */
    }
  
    .header__wrapper {
      height: 70px; /* Adjust header wrapper height for smaller screens */
    }
  
    .header__info > h6 {
      font-size: 8px; /* Reduce font size for menu items on smaller screens */
      margin-right: 15px; /* Reduce margin for menu items on smaller screens */
    }
  
    .header__info > svg {
      width: 16px; /* Reduce icon size for smaller screens */
      height: 16px; /* Reduce icon size for smaller screens */
    }
  }