.skills__wrapper{
    /* background-color: #CCCCCC; */
    /* background-color: red; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__wrapper__box{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* height: 20vh; */
}

.skills__wrapper__title{
    display: flex;
    justify-content: center;
}

.skills__wrapper__technologies{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.skills__technologies{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 15vh;
    gap: 10px;
}

.skills__top{
    display: flex;
    gap: 10px;
}

.skills__middle1{
    display: flex;
    gap: 10px;
}

.skills__middle2{
    display: flex;
    gap: 10px;
}

.skills__middle3{
    display: flex;
    gap: 10px;
}

.skills__bottom{
    display: flex;
    gap: 10px;
}

.tech__icon{
    transform: translate(0);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    padding: 3px;
}

.tech__icon:hover{
    transform: translate(-5px);
}

@media (max-width: 896px){
    .skills__top{
        gap: 0px;
    }

    .skills__middle1{
        gap: 0px;
    }

    .skills__middle2{
        gap: 0px;
    }

    .skills__middle3{
        gap: 0px;
    }

    .skills__bottom{
        gap: 0px;
    }


}

/* .skills__pic{
    width:30px;
    height: auto;
} */

/* .skill__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:35px;
}

.skill__list > h6{
    transform: translate(0);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    padding: 3px;
}

.skill__list>h6:hover{
    transform: translateY(-5px);
}

.skill__list:hover{

}

.tech__tool{
    background-color: #66D131;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.skills__card__wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.skills__card{
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
} */
