*{
margin:0 !important;
}

.app{
    /* background-color: #121212; */
    background-color: #FFFFFF !important;
}

html{
    scroll-behavior: smooth;
}

/* Media query for adjusting app styles on smaller screens */
@media (max-width: 768px) {
    .app {
      /* Adjust background color or other styles for smaller screens */
      background-color: #ECECEC !important;
    }
  }